@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Urbanist:ital,wght@0,100..900;1,100..900&display=swap");

@import "tailwindcss";
@plugin "daisyui";

body {
  font-family: "Urbanist", sans-serif;
}
@plugin "daisyui/theme" {
  name: "light";
  default: true; /* set as default */
  color-scheme: light; /* color of browser-provided UI */

  /* --color-base-100: oklch(98% 0.02 240);
  --color-base-200: oklch(95% 0.03 240);
  --color-base-300: oklch(92% 0.04 240); */
  /* --color-base-content: oklch(20% 0.05 240); */
  --color-primary: #3b82f6;
  --color-primary-content: #fff;
  /* --color-secondary: oklch(70% 0.; */
  /* --color-secondary-content: oklch(98% 0.01 200); */
  --color-accent: #0f172a;
  --color-accent-content: #d1d5db;
}
